
body {
    background: url('../images/background_presentation.jpg') no-repeat;
}

h1.idci-logo {
    background-image: url('../images/logo_idci.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
}

.reveal .idci-green {
    color: #1E9847;
}

ul.motto li {
    font-size: 35px;
    float: left;
    list-style-type: none;
    margin-right: 5px;
}

.reveal .presented-by {
    font-size: 18px;
}

.reveal pre {
    font-size: 0.3em;
}

.reveal #mvvm-pres {
    font-size: 0.5em;
    border-style: solid;
    border-width: 5px;
}

.reveal #freeness-app {
    height: 20em;
    overflow: auto;
    font-size: 0.5em;
    border-style: solid;
    border-width: 5px;
}
